<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="FactoryLog.txt" />
		<param name="MaxFileSize" value="100kb" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} [%t] %-5p %c %x:%n\t%m%n" />
		</layout>
		<param name="maxBackupIndex" value="1" />
	</appender>
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%p: %m%n" />
		</layout>
	</appender>
	
	<logger name="logoworld.CommandFactory">
		<level value="DEBUG" />
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</logger>
</log4j:configuration>