<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="FactoryLog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="FactoryLog.txt" />
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="100MB" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p%-16.16t%30c{-2} - %m%n" />
		</layout>
	</appender>
	
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p%-16.16t%30c{-2} - %m%n" />
		</layout>
	</appender>
	
	<logger name="logoworld.CommandFactory">
		<level value="INFO" />
		<appender-ref ref="FactoryLog" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
</log4j:configuration>